.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}


/* my code */
.App-logo-stop {
  animation : none;
  height: 20vmin;
  pointer-events: none;
}

.My-button {
  padding: 15px;
  background: orange;
  color: white;
  font-size: 1rem;
  border : none;
  box-shadow: 10px 10px 10px #000000;
}

.My-button:hover {
  background: rgb(228, 132, 22);
}

.My-column {
  display : flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
}
/* until here */


.App-header {
  background-color: #2f487a;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


